* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

/* Estilo para el cuerpo de la página */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(28, 2, 2);
    margin: 0;
    padding: 10px;
    text-align: justify;
}

/* Estilo para la barra de navegación */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    color: white;
    padding: 10px;
}

/* Estilo para el logo dentro de la barra de navegación */
.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px; 
}

/* Estilo para el contenedor de título y logo */
.container {
    display: flex;
    align-items: center;
    color: white;
}

/* Estilo para los enlaces dentro de la barra de navegación */
.links {
    display: flex;
    align-items: center; 
    list-style: none;
    margin: 0; 
}

/* Estilo para los elementos de lista dentro de los enlaces */
.links li {
    margin: 0 10px; 
}

/* Estilo para los enlaces dentro de los elementos de lista */
.links a {
    text-decoration: none; 
    color: white; 
    font-size: 20px; 
}

/* Importa las fuentes */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald');

/* Reseteo general de estilos para todos los elementos */
*,
*:before,
*:after {
    box-sizing: border-box;
    position: relative;
    transition: all 0.5s ease;
}

/* Estilo para el contenedor principal */
.site {
    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-template-columns: 5rem 1fr 1fr 5rem;
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 1500px;
    height: 830px;
    margin: 20px auto;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    --total: 4;
}

/* Estilo para el input oculto */
input[name="scene"] {
    display: none;
}

/* Estilo para los inputs seleccionados */
input[value='1']:checked ~ .site { --scene: 1; }
input[value='2']:checked ~ .site { --scene: 2; }
input[value='3']:checked ~ .site { --scene: 3; }
input[value='4']:checked ~ .site { --scene: 4; }

/* Oculta las etiquetas correspondientes cuando el input está seleccionado */
input[value="1"]:checked ~ * label[data-scene='1'],
input[value="2"]:checked ~ * label[data-scene='2'],
input[value="3"]:checked ~ * label[data-scene='3'],
input[value="4"]:checked ~ * label[data-scene='4'] {
    display: none;
}

/* Oculta otros elementos cuando el input está seleccionado */
input[value="1"]:checked ~ * [data-scene]:not([data-scene="1"]),
input[value="2"]:checked ~ * [data-scene]:not([data-scene="2"]),
input[value="3"]:checked ~ * [data-scene]:not([data-scene="3"]),
input[value="4"]:checked ~ * [data-scene]:not([data-scene="4"]) {
    opacity: 0;
    transform: translateX(-25%);
}

/* Muestra y mueve los elementos correspondientes cuando el input está seleccionado
input[value="1"]:checked ~ * [data-scene="1"],
input[value="2"]:checked ~ * [data-scene="2"],
input[value="3"]:checked ~ * [data-scene="3"],
input[value="4"]:checked ~ * [data-scene="4"] {
    transform: translateX(25%);
} */

/* Estilo para las capas */
.layer {
    position: absolute;
    margin: auto; /* Centra la capa */
}

/* Estilo para el paisaje */
.landscape {
    display: flex;
    align-items: center;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    background-color: #a8fc00;
    background-image: url('./imgs/asda.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 20%;
    overflow: hidden;
    height: 300px;
}

/* Estilo para el texto del paisaje */
.landscape-text {
    display: inline-block;
    font-size: 25vh;
    font-weight: bold;
    background: inherit;
    background-image: url('');
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 160% auto;
    color: transparent;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

/* Estilo para el lado izquierdo */
.left-side {
    grid-row: 1 / 1;
    grid-column: 2 / 3;
    font-family: 'Oswald';
}

/* Estilo para los números de página
.page-numbers {
    color: rgb(255, 255, 255);
    overflow: hidden;
}

.page-numbers:after {
    content: '/' attr(data-total);
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 4rem;
}

/* Estilo para el número de página */
/* .page-number {
    font-size: 4rem;
    line-height: 4.2rem;
} */

/* .page-number--tens {
    align-self: flex-end;
}

.page-number--ones {
    position: absolute;
    top: 0;
    left: 0.5em;
    transform: translateY(calc((-100% * (var(--scene) / var(--total) - 1 / var(--total)))));
} */ 

/* Estilo para el contenido izquierdo */
.left-content {
    grid-row: 2 / 4;
    grid-column: 1 / 3;
}

/* Estilo para el contenido derecho */
.right-content {
    color: rgb(0, 0, 0);
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    overflow: auto;
}

.right-content > .layer {
    padding: 30px;
}

/* Estilo para la navegación deslizante */
.slide-nav {
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.nav-button-container {
    display: flex;
    position: absolute;
    top: 0;
    transition: none;
    transform: translateX(calc(100% + (-5rem * (var(--scene) + 1))));
    opacity: 0;
}

.button-container {
    display: flex;
    outline: none;
    right: 0;
}

.nav-button {
    display: inline-block;
    padding: 0.5em;
    width: 5rem;
    background: rgba(255, 0, 0, 0.8);
    color: white;
    cursor: pointer;
    font-family: inherit;
    height: 2rem;
    border: none;
    outline: none;
    font-size: 1rem;
}

/* Estilo para el héroe */
.hero {
    color: rgb(255, 255, 255);
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}

.hero > .layer {
    display: flex;
    height: 40%;
}

/* Estilo para el footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(28, 2, 2);
}

